<nav class="navbar bg-transparent navbar-expand-lg">
    <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a class="nav-link link-light" href="/">HOME</a>
                        <a class="nav-link link-light" href="/dadJokes">DAD JOKES</a>
                        <a class="nav-link link-light" href="/guessNumber">GUESS NUMBER</a>
                        <a class="nav-link link-light" href="/scoreBoard">SCORE BOARD</a>
                    </div>
                    <form id="searchTV" class="d-flex" role="search">
                        <input class="form-control me-2" type="text" placeholder="Search TV Show" name="query"> 
                        <!-- ? agar search kebaca menjadi query harus menggunakan name "query" -->
                        <button class="btn cari" type="submit">Search</button>
                    </form>
        </div>
    </div>
</nav>