<%- include("partials/head.ejs") %>
<body>
    <!-- Navbar -->
    <%- include("partials/navbar.ejs") %>
    <!-- End Navbar -->

    <!-- section hero -->
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-7 offset-1 hero1">
                    <h2>Selamat Datang,</h2>
                    <h1 class="fw-bold">Saya Reza Rizki Arifianda</h1>
                    <p>Web Developer || Backend <br> Baru belajar serius dalam 1 tahun ini, karna masih kuliah sekaligus kerja</p>

                    <button class="btn btn-custom1">Let's GO</button>
                    <div class="social-icon">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <br>
                        <a class="text-decoration-none" href="#"><span class="fw-bold" style="color: #F77F00;">Download</span><span style="color: white;"> Curriculum Vitae</span></a>
                    </div>
                </div>

                <div class="col-3 gambar-wajah">
                    <img src="" alt="" class="float-end">
                </div>
            </div>
        </div>
    </section>
    <!-- end section hero  -->

    <!-- About -->
    <section id="about">
        <div class="container-fluid">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <h1 class="text-center fw-bold" style="color: white;">About</h1>
                        <hr>
                    </div>
                    <div class="col-10 mt-3">
                        <p class="text-center" style="color: #F77F00;">“Teknologi hanyalah alat, positif dan negative tergantung siapa yang menggunakannya”</p>
                        <p class="text-center" style="color: white;">Saya freshgraduate lulusan sistem informasi, mampu bekerja secara individu maupun berkolaborasi dengan tim, bekerja dengan cepat, Up to Date terhadap perkembangan teknologi dan informasi, saat ini saya berusia 25 tahun, walaupun umur saya masih terbilang muda, tapi saya sudah memiliki beberapa skill yang dapat di andalkan di era masa ini, UI UX Design, Backend Web Developer, Program Office. Cek detail saya di bawah.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About -->

    <!-- Skill -->
    <section id="skill">
        <div class="container-fluid">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <h1 class="fw-bold text-center" style="color: white;">Skill</h1>
                        <hr>
                    </div>
                    
                    <div class="gambar-skill col-10 text-center mt-3">
                        <img src="img/css.png" alt="">
                        <img src="/img/html.png" alt="">
                        <img src="img/javascript.png" alt="">
                        <img src="img/nodejs.png" alt="">
                        <img src="img/express.png" alt="">
                        <img src="img/ms office.png" alt="">
                        <img src="img/xd.png" alt="">
                        <img src="img/bootstrap.png" alt="">
                        <img src="img/git.png" alt="">
                    </div>
                </div>
                <div class="row justify-content-center skill-content">
                    <div class="col-3">
                        <div class="card p-4">
                            <div class="row">
                                <div class="skill-gambar col">
                                    <img src="img/backend.png" alt="">
                                </div>

                                <div class="col pt-3">
                                    <h3 class="text-start fw-bold">Backend Developer </h3>
                                    <p class="text-start"> Dalam bagian backend portofolio saya, saya membangun fondasi yang kuat dengan menggunakan server Express, mengimplementasikan API, dan mengoptimalkan kinerja dengan Node.js (JavaScript). Keterampilan asynchronous programming (Async) menjadi bagian integral dari pendekatan pengembangan saya, sementara penggunaan teknik PreventDefault menjadi strategi untuk meningkatkan responsivitas aplikasi. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card p-4">
                            <div class="row">
                                <div class="skill-gambar col">
                                    <img src="img/prontend.png" alt="">
                                </div>

                                <div class="col pt-3">
                                    <h3 class="text-start fw-bold">Frontend Developer</h3>
                                    <p class="text-start">Sementara di sisi frontend, saya membangun antarmuka yang responsif dan menarik dengan memanfaatkan kekuatan Bootstrap. Pengelolaan paket dengan npm dan integrasi EJS memberikan fleksibilitas dan efisiensi dalam pengembangan tampilan. Gaya desain saya diperkaya dengan CSS untuk menciptakan estetika visual yang konsisten, sementara JavaScript DOM menjadi elemen kunci dalam menyajikan pengalaman pengguna yang dinamis dan interaktif. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card p-4">
                            <div class="row">
                                <div class="skill-gambar col">
                                    <img src="img/server.png" alt="">
                                </div>

                                <div class="col pt-3">
                                    <h3 class="text-start fw-bold">Server</h3>
                                    <p class="text-start">Dari sisi server, saya telah menghadirkan keandalan dan efisiensi menggunakan Express.js. Dengan framework ini, saya membangun fondasi backend yang tangguh, memberikan dukungan yang handal untuk pengembangan API dan routing. Penggunaan Express.js memberikan kemudahan dalam mengelola logika server, mempercepat pengembangan, dan meningkatkan responsivitas aplikasi secara keseluruhan.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Skill -->

    <!-- Pendidikan -->

    <section id="sertifikat">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="fw-bold text-center">Pendidikan</h1>
                        <hr>
                    </div>

                    <div class="row">
                        <div id="gambar-serti" class="col-12 text-center pt-3">
                            <img src="img/smk10medan.png" alt="">
                            <img src="img/uinsu.png" alt="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="gambar-linkedin col-12 text-center pt-3 pt-4">
                            <img src="" alt="">
                            <a href="#" class="text-decoration-none ps-2 fw-bold fs-4" style="color: white;">Selengkapnya di linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Pendidikan -->

    <!-- Portofolio -->

    <section id="portofolio">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1 class="text-center fw-bold" style="color: white;">Galery Portofolio</h1>
                    <hr>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-10 d-flex pt-5">
                    <div class="card border">
                        <img src="" alt="">
                    </div>
                    <div class="card border">
                        <img src="" alt="">
                    </div>
                    <div class="card border">
                        <img src="" alt="">
                    </div>
                        
                </div>
            </div>
        </div>

    </section>
    <!-- End Portofolio -->


    
    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
    <!-- End Footer -->

    <!-- Script -->
    <script src="js/search.js"></script>
    
</body>