<%- include('partials/head.ejs') %>
<body class="d-flex flex-column min-vh-100">
    <%- include("partials/navbar.ejs") %>
    <main class="flex-grow-1">
        <div class="gambar">
            
        </div>
    </main>


    <%- include('partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/search.js"></script>
</body>
</html>